.git
.github
.vscode
node_modules
!node_modules/better-sqlite3/**/*
!node_modules/bindings/**/*
!node_modules/file-uri-to-path/**/*
out/test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.cursorrules
demo.js
tasks/**
.vscode-test/** 